.container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.button_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button {
    height: 40px;
    width: 100px;

    transition: 0.1s;

    box-shadow: 0 0 7px #181c22;
    border-radius: 4px;
    border: none;
    outline: none;

    background-color: #f05454;
    cursor: pointer;

    font-size: 20px;
    text-transform: capitalize;

    &:hover {
      opacity: 0.8;
      box-shadow: 0 0 3px #181c22;
    }
}


